aside { order: 1;}
section { order: 2;}
footer { order: 4;}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;*/
}

section {
	padding-left: 10px;
	align-self: stretch;
}

aside {
	background: #3c7e75;
	color: white;
	padding: 20px 0;
	margin: 0;
	max-width: 20em;
}

aside a {
	
}

footer {
	text-align: center;
}

/*****************************************************************************
 * barre de navigation
 ****************************************************************************/

aside ul {
	display: inline-flex;
	flex-direction: column;
	
}

aside li {
	list-style: none;
	margin: 5px 0px;
}

aside a {
	color: white;
}

/*****************************************************************************
 * Ressources
 ****************************************************************************/

.ressources {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.ressource {
	background: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #999;
	display: flex;
	flex-direction: column;
	height: 280px;
	justify-content: center;
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 180px;
}

.ressource:hover {
	animation: FirstAnimation 0.5s;
	transform: scale(1.1);
}

.ressource img {
	max-height: 180px;
	margin-bottom: 30px;
}

/*****************************************************************************
 * Articles
 ****************************************************************************/
.actus {
	max-width: 33em;
	padding : 20px;
	margin: 0;
}

.actus * {
	max-width: 32em;
}

.actu {
	margin-bottom: 50px;
}

.actu h2 {
	border-bottom: solid 1px blue;
}

p.actu_auteur, p.actu_info {
	width: 100%;
	text-align: right;
}

p.actu_info {
	color: grey;
	font-style: italic;
}


@keyframes FirstAnimation {
	from {
		transform: scale(1.0);
	}
	to {
		transform: scale(1.1);
	}
}

@media (max-width: 40em) {

	body {
		flex-flow: row wrap;
	}

	aside {
		max-width: inherit;
	}

}
