aside { order: 1;}
section { order: 2;}
aside.project {order: 3;}
footer { order: 4;}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	margin: 0 auto;
	max-width: 80em;
	padding: 0;

}

section {
	padding-left: 10px;
	align-self: stretch;
}

aside {
	
	padding: 20px 0;
	margin: 0;
	width: 16em;
	min-width: 16em;
}

footer {
	text-align: center;
}

/*****************************************************************************
 * barre de navigation
 ****************************************************************************/

aside ul {
	display: inline-flex;
	flex-direction: column;
	
}

aside li {
	/*list-style: none;*/
	margin: 5px 0px;
}

aside a {
	color: #ffb640;
}

/*****************************************************************************
 * Ressources
 ****************************************************************************/

.ressources {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.ressource {
	background: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #999;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	list-style-type: none;
	margin: 20px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	width: 130px;
}

.ressource:hover {
	animation: FirstAnimation 0.5s;
	transform: scale(1.1);
}

.ressource img {
	height: 180px;
	margin-bottom: 30px;
}

/*****************************************************************************
 * Articles
 ****************************************************************************/
.actus {
	padding : 20px;
	margin: 0 auto;
}

/*.actus * {
	max-width: 32em;
}*/

.actu {
	margin-bottom: 50px;
}

.actu h2 {
	color: #535353;
	border-bottom: solid 1px #FFB640;
}

p.actu_auteur, p.actu_info {
	width: 100%;
	text-align: right;
}

p.actu_info {
	color: grey;
	font-style: italic;
}

.actu a {
	color: #FFB640;
}

.vignette_actu {
	float: right;
	margin: 0 0 0 20px;
}

.actu * {
	z-index: 100;
}

.picto_action {
	background: url(../images/picto-action.png) top right no-repeat;
}

/*****************************************************************************
 * aside project en première page
 ****************************************************************************/

div.page_projects, .link_ressources {
	background: #ffb640;
	color: white;
	display: block;
	margin-bottom: 20px;
	padding: 5px 20px;
	width: 100%;
}

.link_ressources {
	margin-top: 
}

div.page_projects h2, .link_ressources h2{
	font-family: 'Stencil', Fallback, sans-serif;
	text-transform: uppercase; 
}

div.page_projects a {
	color: white;
}

@keyframes FirstAnimation {
	from {
		transform: scale(1.0);
	}
	to {
		transform: scale(1.1);
	}
}

@media (max-width: 1024px) {

	body {
		flex-flow: column wrap;
	}

	section, aside {
		max-width: 100%;
		width: 100%;
	}

}

@font-face {
	font-family: Stencil;
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/Lorimer_No2_Stencil.otf) format('opentype');
}
