<!--<div class="ressources">-->
<?php
shuffle($fiches);

$imageSize = 120;

foreach ($fiches as $fiche) {
    // Redimmension l'image et la met en cache si necessaire
    $image = 'themes/enviescolaire/images/default_thumb_ressource.png';
    if (isset($fiche['imagebf_image'])) {
        $imageCache = "cache/image_" . $imageSize . "_" . $fiche['imagebf_image'];
        $image = $imageCache;
        if (!file_exists($imageCache)) {
            $image = redimensionner_image(
                'files/'.$fiche['imagebf_image'],
                $imageCache,
                $imageSize,
                $imageSize
            );
        }
    }

    $titre = htmlspecialchars(
        $fiche['bf_titre'],
        ENT_COMPAT,
        TEMPLATES_DEFAULT_CHARSET
    );

    $url = $fiche['url'];

    $color = 'color_'.$fiche['listeListeCategories'];
    $htmlData = ' ' . $fiche['html_data'];
?>

<a class="bazar-entry ressource <?php echo $color; ?>"
    href="<?php echo $url; ?>"
    <?php echo $htmlData;  ?>
>
    <div class='cadre_image_ressource'>
        <img src="<?php echo $image; ?>" />
    </div>
    <p class="name"><?php echo $titre; ?></p>
</a>
<?php } ?>
<!--<div>-->
