<div class="actus">
<?php foreach ($fiches as $fiche): ?>


  <?php 
    //echo $info_res; 
    setlocale(LC_TIME, 'fr_FR.UTF-8');
    $date = new DateTime($fiche['date_creation']);
    $date = strftime('%A %d %B %G à %H:%I', $date->getTimestamp());

    $contenu = $GLOBALS['wiki']->Format($fiche['bf_contenu']);

    if (isset($fiche['imagebf_image'])) {
      if (!file_exists('cache/image_230_'.$fiche['imagebf_image'])) 
        $image = redimensionner_image(
          'files/'.$fiche['imagebf_image'], 
          'cache/image_230_'.$fiche['imagebf_image'], 
          230, 
          230
        ); 
      else {
        $image = 'cache/image_230_'.$fiche['imagebf_image'];
        $image = 
          "<img class='vignette_actu' src='"
          .$image
          ."' alt='vignette article' />";
      }
    }
    else $image = "";

    $titre = htmlspecialchars(
      $fiche['bf_titre'], 
      ENT_COMPAT, 
      TEMPLATES_DEFAULT_CHARSET
    );

    $link = '<a href="?wiki='.$fiche['id_fiche'].'" >';
  ?>

  <div class='actu'>
  <?php echo $link; ?>
  <h2><?php echo $fiche['bf_titre']; ?></h2>
  </a>
  <p class='actu_info'>Le <?php echo $date; ?></p>
  <?php echo $image; ?>
  <p class='actu_contenu'><?php echo $contenu; ?></p>
  <!--<p class="actu_auteur"><?php echo $fiche['createur']; ?></p>-->
  </div>
<?php endforeach; ?>
</div>

<?php echo $pager_links; ?>
